.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  background-image :url("../assets/icon.png");
  vertical-align: text-bottom;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
.title-bar {
  padding: 1px 2px 1px 2px;
}

.window {
  transform-origin: top;
  transform: scale(2.0);
  width: 50%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

body {
  padding-top: 16px;
  background-color: #008080;
}